{% extends 'base.html.twig' %}

{% block body %}
<nav role="navigation" style="background-color: #26a69a;">
	<div class="nav-wrapper container">

		<a id="logo-container" href="#" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="{{ path('home') }}">Accueil</a></li>
		</ul>





		<a href="#" data-activates="slide-out" class="btn button-collapse"><i
			class="material-icons">menu</i></a>

		<ul id="slide-out" class="side-nav">
			<li><div class="userView">
					<div class="background">
						<img src="{{ asset('bundles/framework/images/background1.jpg') }}">
					</div>
					<a href="#!user"><img class="circle"
						src="{{ asset('bundles/framework/images/background1.jpg') }}"></a>
					<a href="#!name"><span class="white-text name">John Doe</span></a>
					<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
				</div></li>
			<li><a href="#!"><i class="material-icons">cloud</i>First
					Link With Icon</a></li>
			<li><a href="#!">Second Link</a></li>
			<li><div class="divider"></div></li>
			<li><a class="subheader">Subheader</a></li>
			<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
		</ul>
	</div>
</nav>

	<div class="section no-pad-bot">
		<div class="container">
			<br> <br>
			<h1 class="header center teal-text text-lighten-2">PartaCar</h1>
			<div class="row center">
				<h5 class="header col s12 light">Bienvenue {{ user.pseudo }}!</h5>
			</div>
{% for items in travel %}
		 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">

                    <img border="0" alt="W3Schools" src="{{ items.driver.profilePic }}" width="70" height="70" class="circle">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                {{ items.description }}
              </span>
              <a class='btn ButtonDrop' href='*' data-activates='dropdown1'>Drop
					Me!</a>

				<!-- Dropdown Structure -->
				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="#!">one</a></li>
					<li><a href="#!">two</a></li>
					<li class="divider"></li>
					<li><a href="#!">three</a></li>
				</ul>
			</div>
              
            </div>
          </div>
        </div>

    {% endfor %}
      </div>
				



		</div>
	{% endblock %}