{% extends "baseConnect.html.twig" %}

{% block title %}Create News{% endblock %}










{% block body %}


<!--<form action="" method="post"> -->
    <div class="container "><h1 class="test-align center">Formulaire de proposition de trajet</h1></div>
    <div class="container">
            <div class="col s3 row">
            </div>
		</div>
	 <!--
        <div class="col s3" >

            <label>Choisissez la date</label>
            <input type="date" class="datepicker" id="date">


        </div>
    </div>


    <div class="row">

    <div class="container ">


        <div class="col s6">

            <label>Heure</label>
            <select class="browser-default" id="input-field" name="heure" >
                <label>Test rétro</label>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>

            </select>

        </div>


        <div class="col s6">
            <label>Minute</label>
            <select class="browser-default" name="minute" >
                <label>Test rétro</label>
                <option value="0">00</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>

            </select>

        </div>
    </div>

<div class="row"></div>

    <div class="container">

        <div class="col s3">
    </div>
        <div class="col s9">


                <p class="range-field container">
                    <input type="range" name="emptySeat" id="emptySeat" min="1" max="4" />
                </p>


</div>
    </div>
-->



	{{ form_start(form, { 'attr': {'class': 'container'}}) }}

	<div class="row">
		<div class="col s6"></div>
		<div class="container">

			<div class="col s3">
			</div>
			<div class="col s6">
				<label>Ville de départ</label>
				<select class="browser-default" id="start" name="start" >
					<label>Test rétro</label>
					<option value="" disabled selected>Choisissez la ville de départ</option>
					{% set foo = 0 %}
					{% for items in city %}
						<option value=foo>{{ items.name }}</option>
						foo = foo++

					{% endfor %}
				</select>

			</div>


			<div class="col s6">
				<label>Ville d'arrivé</label>
				<select class="browser-default" id="end" name="end" >
					<label>Test rétro</label>
					<option value="" disabled selected>Choisissez la ville d'arrivée</option>
					{% set foo = 0 %}
					{% for items in city %}
						<option value=foo>{{ items.name }}</option>
						foo = foo++

					{% endfor %}

				</select>

			</div>
		</div>
	</div>


	{{ form_widget(form)}}


	{{ form_end(form) }}

{% endblock %}