<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

<title>{% block title %}PartaCar!{% endblock %}</title>

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="{{ asset('framework/css/materialize.min.css')}}">
<link rel="stylesheet" href="{{ asset('framework/css/MyCss.css')}}">
{% block stylesheets %}
{% endblock %}


</head>
<body>
	<nav role="navigation" style="background-color: #26a69a;">
		<div class="nav-wrapper container">
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ path('home') }}">Homepage</a></li>
			</ul>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% else %}
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ path('register') }}">Sign up</a></li>
			</ul>
			{%  endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="#" data-activates="slide-out" class="btn button-collapse"
				style="display: flex;"><i class="material-icons">menu</i></a>
			<ul id="slide-out" class="side-nav">
				<div class="userView">
					<div class="background">
						<img src="{{ asset('framework/images/background1.jpg') }}">
					</div>
					<img class="circle" src="{{ user.profilePic }}"> <span
						class="white-text name">{{ user.firstName }} {{ user.lastName }}</span>
					<span class="white-text email">{{ user.mail }}</span>
				</div>
				<li><a href="{{ path('newTravelForm')}}"><i
						class="material-icons">library_add</i>Add Travel</a></li>
				<li><a href="#!"><i class="material-icons">navigation</i>My
						travels</a></li>
				<li><a href="#!"><i class="material-icons">location_on</i>Search
						travels</a></li>
				<li><a href="{{ path('profile_show', {'mail': user.mail}) }}"><i
						class="material-icons">verified_user</i>My profile</a></li>
				<li><div class="divider"></div></li>
				<li><a class="waves-effect" href="{{ path('app.logout') }}">Disconnect</a></li>
			</ul>
			{% endif %}
		</div>
	</nav>
	{% block body %}
	{% endblock %}
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script type="text/javascript"
		src="{{ asset('framework/js/navbar.js') }}"></script>
	<script type="text/javascript"
		src="{{ asset('framework/js/datepicker.js') }}"></script>
	{% block javascripts %}
	{% endblock %}
</body>
</html>


